.home-container {

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;


    img {
        height: auto;
        width: 35vw;

        margin-right: 7.8vw;
        margin-top: 4.8vh;
    }

    .left-size{
        margin-left : 4.6vw;    

        display: flex;
        align-items:flex-start;
        justify-content: center;
        flex-direction: column;

        .home-text {
            margin-bottom: 1.2vh;
    
            label {
                font-size: 2.5vw;
                color: var(--color-bordor);
                margin-bottom: 0.6vh;
    
                
                strong {
                    font-weight: 600;
                }
            }
    
            p {
                font-size: 1.25vw;
                font-weight: 100;
                color: var(--color-black);
                padding-right: 7.8vw;
            }
        }

        input {
            width: 27.3vw;
        }

        .gmail-button {
            color: var(--color-white);
            background-color: var(--color-google);

            width: 20vw;
        }

    }

}

.home-footer {
    width: 100vw;
    height: 26vh;

    padding: 0 3.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    background-color: var(--color-green-400);
    color: var(--color-white);


    .faq {
        padding: 2.4vh 0;

        label {
            font-size: 1.5vw;
            font-weight: 500;
            margin-bottom: 0.8vh;
        }
    
        .faq-container {
            font-size: 1vw;

        }

    }

    .contact {
        padding: 2.4vh 0;

        &::before {
            content: " ";
            height: 10vh;
            width: 0.078vw;
            background-color: var(--color-white);
        }

        label {
            font-size: 1.5vw;
            font-weight: 500;
            margin-bottom: 0.8vh;
        }
    
        .contact-container {
            font-size: 1vw;

            li {

                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

            img {
                height: 3vh;
                width: auto;

                margin-right: 0.8vh;
                margin-bottom: 0.8vh;

            }
    

        }

    }
}